<!DOCTYPE html>
<html ng-app="timesFutebol">
<head>
	<meta charset="UTF-8">
	<title>Times de Futebol</title>
	<link rel="stylesheet" type="text/css" href="../../resources/lib/bootstrap/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="../../resources/css/app.css">	
	<script src="../../resources/lib/angular/angular.js"></script>
	<script src="../../resources/js/app.js"></script>
	<script src="../../resources/js/controller/listaTimesController.js"></script>	
	<script src="../../resources/js/services/listaTimesService.js"></script>
	<script src="../../resources/js/value/configValue.js"></script>
</head>
<body ng-controller="listaTimesController">
	
<div class="container">
  <h2>Times de Futebol</h2>
  <button class="btn btn-primary" ng-click="mostrarFormulario()">Novo</button>
  <table class="table">
    <thead>
      <tr>
        <th>Nome do Time</th>
        <th>Divisao</th>
      </tr>
    </thead>
    <tbody>
	    <tr ng-repeat="time in times">
	    	<td>{{time.nome}}</td>
	    	<td>{{time.divisao}}</td>
	    	<td>
	    		<button class="btn btn-small btn-danger" ng-click="excluir(time)">Excluir</button>
	    	</td>
	    </tr>
    </tbody>
  </table>

<form ng-show="formulario" name="timeForm">
	<div class="col-sm-5">
		<input class="form-control" type="text" ng-model="time.nome" name="nome" placeholder="Nome do time" required="true">
	</div>  
	<div class="col-sm-5">
		<input class="form-control" type="text" ng-model="time.divisao" name="divisao" placeholder="Divisao" required="true">
	</div>  
	<button class="btn btn-success" ng-click="cadastrar(time)" ng-disabled="timeForm.$invalid">Gravar</button>
	<button class="btn" ng-click="btnLimpar()">Limpar</button>	
</form>
<br />
<div class="alert alert-danger" ng-show="timeForm.nome.$error.required && timeForm.nome.$dirty">
	Preencha o nome!
</div>
<div class="alert alert-danger" ng-show="timeForm.divisao.$error.required && timeForm.divisao.$dirty">
	Preencha a divisao!
</div>
</div>
</body>
</html>